<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Teachers | Attendance</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" />
        <meta content="" name="author" />
        <link rel="manifest" href="/teacher/manifest.json">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,700" rel="stylesheet">
        <link href="../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="../assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <link href="../assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="../assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="../assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="../assets/layouts/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/layouts/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="../assets/layouts/css/custom.min.css" rel="stylesheet" type="text/css" />
        <link href="../assets/custom/css/teachers/attendance.css" rel="stylesheet" type="text/css" />
        <link href="../assets/custom/css/teachers/popup.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=<%=gatc%>"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '<%= gatc %>');
        </script>
    </head>
    <!-- END HEAD -->
    <body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo page-md unselectable">
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper" ng-app="attendanceApp" ng-controller="attendanceController">
            <!-- BEGIN CONTENT BODY -->
            <div class="genericHeader">
                <div class="col-xs-3 text-left" ng-click="goBack()">
                    <div id="backArrow">
                        <span class="fa fa-angle-left"></span>
                        <span id="arrowLine"></span>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    ATTENDANCE
                </div>
                <div class="col-xs-3 text-right" data-toggle="modal" data-target="#confirmAttendanceModal">
                    <div style="color: #00b511; font-weight: 400; padding-right: 5px">Submit</div>
                </div>
            </div>
            <div class="container">
                <div id="datePicker" data-toggle="collapse" data-target="#calendar" onclick="changeArrow()">
                    <div class="row">
                        <div class="col-xs-2 text-left">
                            <span class="fa fa-calendar-o" style="font-weight: 700"></span>
                        </div>
                        <div class="col-xs-8 text-center">
                            <span ng-cloak>{{selectedDate | date : "dd-MMM-yy"}}</span>
                        </div>
                        <div class="col-xs-2 text-right">
                            <span id="calendarButton" class="fa fa-angle-right"></span>
                        </div>
                    </div>
                    <!-- <span class="fa fa-calendar-o" style="font-weight: 700"></span>
                    <span>Today</span>
                    <span class="fa fa-angle-right" style="position: relative; right: 0px"></span> -->
                </div>
                <div id="calendar" align="middle" class="collapse" data-date-end-date="0d"></div>
                <div style="margin: 23px 0px 7px 7px; color: #9b9b9b; font-size: 10px">
                    MARK ABSENTEE LIST
                </div>
                <div class="row">
                    <div class="col-xs-12" style="background-color: #f5f5f5; border: 1px solid #e8e8e8;">
                        <input id="studentSearch" ng-model="searchText" spellcheck="false" placeholder="Search Student by Name or Roll no." type="text" name="" value="">
                        <span class="fa fa-{{searchText.length ? 'times' : 'search'}}" id="searchIcon" ng-click="clearSearch()"></span>
                    </div>
                </div>
                <div class="row unselectable studentList" ng-repeat="student in (studs = (students | filter: searchText))" ng-click="toggleAbsentee($index)" ng-cloak>
                    <div class="col-xs-12 studentEntry">
                        <span class="rollNo">{{("00" + student.rollNo).slice(-2)}}</span>
                        <span style="margin-left: 10px">{{student.name}}</span>
                        <span ng-if="studs[$index].absent == false" class="rightSide present">
                            <span class="attendanceMark">P</span>
                        </span>
                        <span ng-if="studs[$index].absent == true" class="rightSide absent">
                            <span class="attendanceMark">A</span>
                        </span>
                        <span ng-if="studs[$index].absent === undefined" class="rightSide">
                            <span class="attendanceMark"></span>
                        </span>
                    </div>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="modal fade" role="dialog" id="confirmAttendanceModal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content" style="border-radius: 5px">
                        <div class="modal-header" style="background-color: #f5f5f5; border-radius: 5px 5px 0 0">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <span class="modal-title">Selected Absentees ({{absentees.length}})</span>
                        </div>
                        <div class="modal-body">
                            <div class="row unselectable studentList" ng-repeat="student in absentees = (students | filter: isAbsent)" ng-cloak>
                                <div class="col-xs-12 studentEntry">
                                    <span class="rollNo">{{("00" + student.rollNo).slice(-2)}}</span>
                                    <span style="margin-left: 10px">{{student.name}}</span>
                                    <span class="rightSide absent">
                                        <span class="attendanceMark">A</span>
                                    </span>
                                </div>
                                <div class="separator"></div>
                            </div>
                            <div class="" ng-if="absentees.length == 0">
                                Mark all students as present?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn blue-chambray btn-block btn-md" data-dismiss="modal" ng-click="submitAttendance()">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <% include ./partialView/popup.ejs %>
        <!-- END CONTENT -->
        <!-- BEGIN FOOTER -->
        <!-- <div class="page-footer">
            <div class="page-footer-inner">
                <a target="_blank" href="http://openday.in">&copy; OpenDay <%= new Date().getFullYear()%>. All Rights Reserved</a>
            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div> -->
        <!-- END FOOTER -->
        <!--[if lt IE 9]>
<script src="../assets/global/plugins/respond.min.js"></script>
<script src="../assets/global/plugins/excanvas.min.js"></script> 
<script src="../assets/global/plugins/ie8.fix.min.js"></script> 
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/moment.min.js" type="text/javascript"></script>
        <!-- <script src="../assets/layouts/scripts/custom/plugins/knockout-3.2.0.js"></script>
        <script src="../assets/layouts/scripts/custom/plugins/knockout.mapping-2.4.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.3/knockout.validation.min.js"></script> -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../assets/global/scripts/metronic.js" type="text/javascript"></script>
        <!-- <script src="../assets/layouts/scripts/custom/teachers.js" type="text/javascript"></script> -->
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/custom/scripts/teachers/popup.js" type="text/javascript"></script>
        <script type="text/javascript">
            var classroom = "<%= classroom %>";
            var students = <%- students %>;
        </script>
        <script src="../assets/custom/scripts/teachers/attendance.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>